<main>
  <header>
    <h1><%= t(".title") %></h1>
  </header>

  <article>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, size: "80x80", alt: @user.name %>
    <% end %>

    <dl>
      <dt><%= t(".name") %></dt>
      <dd><%= @user.name %></dd>

      <dt><%= t(".email") %></dt>
      <dd><%= @user.email %></dd>
    </dl>

    <%= link_to t(".edit"), edit_user_profile_path(@user) %>

    <% if @user.current? || (Current.user.parent? && @user.child?) %>
      <p>
        <%= link_to t(".log_in_on_phone"), session_transfer_path(@user.transfer_id) %>
        <%= image_tag transfer_qr_code_path(@user), alt: t(".qr_alt"), size: 160 %>
      </p>
    <% end %>
  </article>
</main>
