<main>
  <header>
    <h1><%= t(".title") %></h1>
  </header>

  <article>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, size: "80x80", alt: @user.name %>
    <% end %>

    <dl>
      <dt><%= t(".name") %></dt>
      <dd><%= @user.name %></dd>

      <dt><%= t(".email") %></dt>
      <dd><%= @user.email %></dd>
    </dl>

    <%= link_to t(".edit"), edit_user_profile_path(@user) %>
  </article>
</main>
