<main>
  <h1><%= t("sessions.login_title") %></h1>

  <%= form_with url: session_path, method: :post do |f| %>
    <fieldset>
      <legend><%= t("sessions.login_title") %></legend>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, required: true %>
      </div>

      <%= f.submit t("sessions.login_button") %>
    </fieldset>
  <% end %>
</main>
