<% content_for(:title) { t("sessions.login_title") } %>
<% turbo_page_requires_reload %>

<main>
  <h1><%= t("sessions.login_title") %></h1>

  <article>
    <%= form_with url: session_path, method: :post, data: { turbo: false } do |f| %>
      <fieldset>
        <legend><%= t("sessions.login_title") %></legend>

        <div>
          <%= f.label :email, t("sessions.email") %>
          <%= f.email_field :email, required: true, autocomplete: "email" %>
        </div>

        <div>
          <%= f.label :password, t("sessions.password") %>
          <%= f.password_field :password, required: true %>
        </div>

        <%= f.submit t("sessions.login_button") %>
      </fieldset>
    <% end %>
  </article>
</main>
