<main>
  <h1><%= t("preferences.title") %></h1>

  <%= form_with model: @user, url: preferences_path, method: :patch, local: true do |f| %>
    <fieldset>
      <legend><%= t("preferences.language_label") %></legend>
      <%= f.label :locale %>
      <%= f.select :locale, [["English", "en"], ["Nederlands", "nl"]], {}, { class: "form-control" } %>
    </fieldset>

    <fieldset>
      <legend><%= t("preferences.theme_label") %></legend>

      <div>
        <%= f.label :color_scheme %>
        <%= f.select :color_scheme, @user.color_schemes.keys.map { |k| [t("preferences.color_scheme.#{k}"), k] }, {}, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :light_theme %>
        <%= f.select :light_theme, @user.light_themes.keys.map { |k| [t("preferences.light_theme.#{k}"), k] }, {}, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :dark_theme %>
        <%= f.select :dark_theme, @user.dark_themes.keys.map { |k| [t("preferences.dark_theme.#{k}"), k] }, {}, { class: "form-control" } %>
      </div>
    </fieldset>

    <%= f.submit t("preferences.save") %>
  <% end %>

  <%= link_to t("common.back"), root_path %>
</main>
