<main>
  <header>
    <h1><%= t("parent.child_profile.edit.title") %></h1>
    <h2><%= @child_profile.user.email %></h2>
    <nav>
      <%= link_to t("parent.child_profile.edit.cancel"), parent_children_path %>
    </nav>
  </header>

  <% if @child_profile.errors.any? %>
    <article role="alert">
      <ul>
        <% @child_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </article>
  <% end %>

  <%= form_with model: @child_profile, url: parent_child_child_profile_path(@child_profile) do |f| %>
    <label for="<%= f.field_id(:sticker_goal) %>"><%= t("parent.child_profile.edit.sticker_goal_label") %></label>
    <%= f.number_field :sticker_goal, id: f.field_id(:sticker_goal), min: 1, required: true %>

    <%= f.submit t("parent.child_profile.edit.save") %>
  <% end %>
</main>
