<!DOCTYPE html>
<html lang="<%= I18n.locale %>" <%= tag.attributes(theme_attributes) %>>
  <head>
    <title><%= content_for(:title) || t("app.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#c51f23">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "mvpa/mvpa", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="theme" <%= tag.attributes(saved_theme_attributes) %>>
    <header>
      <nav data-controller="nav" data-action="click->nav#click">
        <h2><%= t("app.title") %></h2>
        <ul>
          <li><%= link_to t("child.dashboard.profile_link"), edit_user_profile_path(Current.user) %></li>
          <li><%= link_to t("navigation.preferences"), edit_preferences_path %></li>
          <li><%= button_to t("common.logout"), session_path, method: :delete %></li>
        </ul>
      </nav>
    </header>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
